/.env
node_modules/
/.shadow-cljs/
/target
/out
/.vscode
/.idea
/.nrepl-*
/.DS_Store
/.cpcache
/.calva/output-window/
/.clj-kondo/cache/
/.clj-kondo/.cache/
/.lsp/.cache/
/.lsp/sqlite.*.db
/.cljs_node_repl/
/public/js
*.log
*.swp
/local.session.sql
