/*
 * Base setup:
 */


:root {
  --font-family: "Open sans", sans-serif;
  color-scheme: light dark;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}


html, body {
  height: 100%;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}


input, button, textarea, select {
  font: inherit;
}


p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


#root, #app {
  isolation: isolate;
}


/*
 * Utils:
 */


.gap-1em { gap: 1em; }
.gap-1em-2em { gap: 1em 2em; }
.gap-2em-1em { gap: 2em 1em; }
.gap-05em { gap: 0.5em; }

.mt-1em { margin-top: 1em; }
.mt-2em { margin-top: 2em; }
.mt-3em { margin-top: 3em; }


/*
 * Flex utils:
 */
 

[class*="flex-"] {
  display: flex;
}


.flex-direction-row { flex-direction: row; }
.flex-direction-column { flex-direction: column; }


.flex-justify-content-flex-start { justify-content: flex-start; }
.flex-justify-content-flex-end { justify-content: flex-end; }
.flex-justify-content-center { justify-content: center; }


.flex-align-items-flex-start { align-items: flex-start; }
.flex-align-items-flex-end { align-items: flex-end; }
.flex-align-items-center { align-items: center; }
.flex-align-items-stretch { align-items: stretch; }


/*
 * Grid utils:
 */


[class*="grid-"] {
  display: grid;
}


[class*="grid-auto-cols-"] {
  --grid-auto-cols-min-width: 300px;
  --grid-auto-cols-max-width: 1fr;
  grid-template-columns: 
    repeat(auto-fit, minmax(min(var(--grid-auto-cols-min-width), 100%),  /* min with 100% to prevent overflow */
                            var(--grid-auto-cols-max-width)));
}


.grid-auto-cols-min-100px { --grid-auto-cols-min-width: 100px; }
.grid-auto-cols-min-200px { --grid-auto-cols-min-width: 200px; }
.grid-auto-cols-min-300px { --grid-auto-cols-min-width: 300px; }
.grid-auto-cols-min-400px { --grid-auto-cols-min-width: 300px; }

.grid-auto-cols-max-1fr { --grid-auto-cols-max-width: 1fr; }
.grid-auto-cols-max-05fr { --grid-auto-cols-max-width: 0.5fr; }
.grid-auto-cols-max-100px { --grid-auto-cols-max-width: 100px; }
.grid-auto-cols-max-200px { --grid-auto-cols-max-width: 200px; }
.grid-auto-cols-max-300px { --grid-auto-cols-max-width: 300px; }
.grid-auto-cols-max-400px { --grid-auto-cols-max-width: 400px; }


/*
 * Google Material Symbols:
 */

.icon.hoverable {
  --font-weight: 100;
  font-variation-settings: "wght" var(--font-weight);
  transition: --font-weight 200ms ease;
}


.icon.hoverable:hover {
  --font-weight: 700;
}


/*
 * Misc:
 */


.clamp-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.cursor-pointer {
  cursor: pointer;
}


small {
  font-size: 60%;
}


/*
 * App specific:
 */


.fav {
  color: red;
  font-variation-settings: "FILL" 1 !important;
}


nav {
  border-bottom: 1px solid gray;
  margin-bottom: 1em;
}

footer {
  margin-top: 0.6em;
  padding-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-top: 1px solid gray;
  font-size: 90% !important;
}

footer > * {
  line-height: 1em;
}

.about-page {
  display:     flex;
  flex-flow:   column;
  align-items: center;
  gap:         1em;
  max-width:   30em;
  margin:      4em auto; 
}

.about-page a::after {
  font-family: "Material Symbols Outlined";
  font-feature-settings: "liga" 1;
  -webkit-font-feature-settings: "liga" 1;
  -moz-font-feature-settings: "liga" 1;
  font-size: 80%;
  content: 'open_in_new';
}

.animate-rotate {
  animation: 2s linear infinite rotate-full-turn;
}

@keyframes rotate-full-turn {
  from { transform: rotate(0); }
  to { transform: rotate(-1turn); }
}
