:root {
  --font-family: "Open sans", sans-serif;
  color-scheme: light dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #app {
  isolation: isolate;
}

header h1 {
  text-align: center;
}

.copyright {
  margin-top: 4em;
  padding-top: 0.5em;
  text-align: center;
  border-top: 1px solid gray;
  font-size: 60%;
}
